
    <!DOCTYPE html>
    <html>
    <head>
        <title>Привет, Макс!</title>
    </head>
    <body>
    <section>
        <h1>Привет, Макс! Как тебе нода?</h1>
        <%=body%>
        <%-body%>
    </section>
    </body>
    </html>